:root {
    --main-bg-color: #ded7ff;
    --word-area-color: rgba(123, 96, 210, 0.749);
    --button-area-color: #7b60d2;
    --secondary-color: #4d30ab;
    --accent-color: rgba(240, 46, 169, 0.718);
    --text-color: #070410;
    --secondary-text-color: #fff6f6;

    --word-block-speed: 10s;
}

body {
    background-color: var(--main-bg-color);
    font-family: 'JetBrains Mono', monospace;
/* 
    font-family: 'JetBrains Mono', monospace;
    font-family: 'Zen Maru Gothic', serif; */

    user-select: none;
}

.character {
    height: 100px;
    margin: -70px;

    transform: translate(10px, -40px);
}

.girl-1 {

}

.game__header__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game__header {
    text-align: center;
    font-family: 'Zen Maru Gothic', serif;
}

.game__sub-header {
    text-align: center;
    font-family: 'Zen Maru Gothic', serif;

    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .20em; /* Adjust as needed */
    animation: 
      typing 4s steps(80, end),
      blink-caret .75s step-end infinite;
}
  
/* The typing effect */
@keyframes typing {
from { width: 0 }
to { width: 100% }
}

.score__container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.game__container {

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100vw;
    height: 500px;

    background-color: var(--main-bg-color);
}

.word__area {
    background-color: var(--word-area-color);
    width: 100vw;
    height: 300px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-bottom: 5px;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.word__block {
    position: absolute;
    left: 10px;

    width: 180px;
    height: 60px;

    border-radius: 10px;

    background-color: var(--secondary-color);

    color: var(--secondary-text-color);

    line-height: 60px;
    text-align: center;

    user-select: none;

    font-size: 24px;

    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

.word__block--move {
    animation-name: word;
    animation-duration: var(--word-block-speed);
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.word__block--destroy0 {
    animation: destroy0 300ms ease-in;
}

.word__block--destroy1 {
    animation: destroy1 300ms ease-in;
}


@keyframes destroy0 {
    0% {transform: scale(1) rotate(0deg);}
    100% {transform: scale(0) rotate(360deg);}
}

@keyframes destroy1 {
    0% {transform: scale(1) rotate(0deg);}
    20% {transform: rotate(-45deg);}
    40% {transform: rotate(45deg);}
    60% {transform: rotate(-45deg);}
    80% {transform: rotate(45deg);}
    100% {transform: scale(0.8) rotate(-45deg);}
}

@keyframes word {
    0% {left: -120px;}
    100% {left: calc(100vw + 120px);}
}

.start-button {
    width: 360px;
    height: 120px;

    border-radius: 20px;
    font-size: 52px;

    background-color: var(--secondary-color);

    text-align: center;
    line-height: 120px;

    color: var(--secondary-text-color);
    transition: all 300ms ease-in-out;

    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.start-button:hover{
    transform: scale(1.05);
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
    font-size: 60px;

    animation: start-button-hover 1s linear infinite reverse;
}

@keyframes start-button-hover {
    0% {
        box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    }

    50% {
        box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
    }
    100% {
        box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    }
}

.tip-text {
    font-size: 14px;
    margin-top: 2px;
    margin-bottom: 2px;

    text-align: center;
}

.button__area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    width: 100%;
    max-width: 700px;
    height: 200px;

    border-radius: 5px 5px 15px 15px;
    margin-bottom: 10px;

    background-color: var(--button-area-color);

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.button {
    background-color: var(--main-bg-color);
    min-width: 180px;
    height: 100px;

    user-select: none;

    text-align: center;
    line-height: 60px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    margin-left: 5px;
    margin-right: 5px;

    padding-right: 5px;

    border-radius: 14px;
    border-style: solid;
    border-color: var(--secondary-color);
    border-width: 3px;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    font-size: 18px;
    transition: all 200ms;
}

.button:hover {
    transform: scale(1.1);
    line-height: 40px;

}

.square {
    width: 35px;
    height: 35px;
    background-color: black;
    border-radius: 5px;
}

.circle {
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%;
}

.triangle {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    
    border-bottom: 35px solid black;

    border-radius: 5px;
}

.speech-bubble {
    position: absolute;

    transform: translate(-40px, -110px) scale(1.7);
/* 
    visibility: hidden; */
}

.speech-bubble--oval {
    width: 80px;
    height: 40px;
    background-color: white;
    border-radius: 50%;

    font-size: auto;
    text-align: center;

    z-index: 2;
}

.speech-bubble--tail {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    
    border-bottom: 35px solid white;

    transform: rotate(-35deg) translate(15px ,-20px);

    z-index: 1;
}

#lives-text {
    margin-left: 20px;
}

#restart-button {
    display: none;
}



@media screen and (max-width: 800px) {
    .game__header {
        font-size: 1.5em;
    }

    .game__sub-header {
        font-size: 14px;
        white-space: normal;
        overflow: visible;
        animation: none;
    }

    .start-button {
        width: 240px;
        height: 100px;

        line-height: 100px;
        font-size: 40px;
    }

    .start-button:hover {
        font-size: 40px;
        transform: scale(1);
        line-height: 80px;
    }

    .restart-button {
        width: 240px;
        height: 100px;

        line-height: 100px;
        font-size: 40px;
    }

    #restart-button:hover {
        font-size: 40px;
        transform: scale(1);
        line-height: 80px;
    }

    .tip-text {
        font-size: 14px;
    }

    .button__area {
        width: 375px;
    }

    .button {
        min-width: 80px;
        height: 40px;
        font-size: 12px;
        
        line-height: 40px;
    }

    .button:hover {
        line-height: 30px;
    }

    .control-tip {
        display: none;
    }
  }